dtd/profile.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT profile (module|project|repository|server)*>
<!ELEMENT module EMPTY>
<!ELEMENT project EMPTY>
<!ELEMENT repository EMPTY>
<!ELEMENT server EMPTY>

<!ATTLIST profile
	name CDATA #IMPLIED
>
<!ATTLIST module
	href CDATA #REQUIRED
>
<!ATTLIST project
	href CDATA #REQUIRED
>
<!ATTLIST repository
	href CDATA #REQUIRED
>
<!ATTLIST server
	href CDATA #REQUIRED
>

